.card{
  box-shadow: transparent;
  transition: all 0.5s;
  cursor: pointer;

  &:hover{
    box-shadow: 0px 4px 26px rgb(199 199 199 / 50%), 0px 4px 58px rgb(204 204 204 / 12%);
    border-radius: 8px;
  }
}

.cardItem{
  height: 550px;
  width: 350px;
  border: 2px solid #EFEFEF;
  border-radius: 8px;
  position: relative;
  padding: 28px 28px 24px 28px;

  h5{
    color: inherit;
    transition: color 0.5s;
    &:hover{
      color: #359740;
    }
  }
}

.img{
  margin-bottom: 24px;

  img{
    width: 294px;
    height: 294px;
  }
}

.heart{
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.rating{
  display: flex;
  align-items: center;
  height: 33px;
  margin-bottom: 5px;

  p{
    margin-left: 13px;
  }
  img{
    width: 16px;
    height: 16px;
  }
}

.text{
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 15px;
}

.price{
  font-weight: 600;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 5px;
}

.priceCart{
  /*background-image:
          url('/public/headerIcon/cartSimple.svg');*/
  border: 1px solid #EFEFEF;
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.7s;

  &:hover{
    background-color: rgba(53, 151, 64, 0.08);
  }
}

.active{
 /* background-image:
          url('/public/headerIcon/whiteCart.svg');*/
  background-color: #359740;
  border: 1px solid #359740;
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.7s;

  img{
    transform: translateY(4px);
  }

}

