.windowItem{
  position: relative;
  height: 124px;
  width: 382px;
  display: flex;
  align-items: center;


  p{
    max-width: 268px;
    margin-left: 16px;
  }
}

.closedRed{
  position: absolute;
  top: 25px;
  left: -5px;
  cursor: pointer;
}

.img{
  width: 54px;
  height: 54px;
}
