.windowItem{
  position: relative;
  height: 124px;
  width: 382px;
  display: flex;
  align-items: center;


  img{

  }

  p{
    max-width: 268px;
    margin-left: 16px;
  }
}

.closedRed{
  position: absolute;
  top: 25px;
  left: -5px;
  cursor: pointer;
}

