
.overlay{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.onLogin{
  width: 558px;
  max-height: 620px;
  background-color: #FFFFFF;
  padding: 32px;
  border: 2px solid #EFEFEF;
  border-radius: 16px;
  position: relative;
  transform: translateY(-50px);

  h3{
    font-weight: 700;
    font-size: 24px;
    bottom: 0;
    text-align: center;
    margin-bottom: 32px;
  }
  p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 32px;
  }
  img{
    position: absolute;
    top: 38px;
    right: 38px;
    cursor: pointer;
  }
}

.promoCodes{
  margin-bottom: 16px;



  p{
    color: #70737C;
    text-align: left;
    margin-bottom: 7px;
  }

  input{
    padding: 14px 24px;
    width: 100%;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 3px;
  }
}

.error{
  color: #E55C5C !important;
}

.authorization{
  width: 558px;
  height: 242px;
  background-color: #FFFFFF;
  padding: 32px;
  border: 2px solid #EFEFEF;
  border-radius: 16px;
  top: 50%;

  h3{
    font-weight: 700;
    font-size: 24px;
    bottom: 0;
    text-align: center;
    margin-bottom: 32px;
  }
  p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 32px;
  }
  img{
    position: absolute;
    top: 38px;
    right: 38px;
    cursor: pointer;
  }

}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;


  button{
    padding: 14px 32px;
    font-family: 'Lexend', sans-serif;
    border: 2px solid #EFEFEF;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    background-color: #FFFFFF;
    transition: background-color 0.5s;

  }
}

.disabledButton{
  cursor: text;
  background-color: #afb5ba;
}

.activeButton {
  cursor: pointer;

  &:hover{
    background-color: rgba(53, 151, 64, 0.08);
  }
}

.registration{
  margin-left: 8px;
}

.selectType{

  p{
    margin-bottom: 7px;
    text-align: left;
    color: #70737C;
  }
}

.dropdown{
  width: 100%;

  span{

  }
}

.select{
  font-size: 16px;
  background-color: #FFFFFF;
  color: #70737C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px #EFEFEF solid;
  border-radius: 4px;
  padding: 14px 24px;
  cursor: pointer;
  transition: background-colol 0.5s;
  /*margin-bottom: 30px;*/
  position: relative;

  &:hover{
    background-color: rgba(53, 151, 64, 0.08);
  }
}

.selectClick{
  border: 1px #EFEFEF solid;
  box-shadow: 0 0 0.8em #26489a;
}

.caret{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgba(53, 151, 64, 1);
  transition: 0.3s;
}

.caretRotation{
  transform: rotate(180deg);
}

.menu{
  width: 490px;
  padding: 0.2em 0.5em;
  background-color: #FFFFFF;
  border: 1px #EFEFEF solid;
  box-shadow: 0 0.5em 1em rgba(53, 151, 64, 0.08);
  border-radius: 4px;
  color: #9fa5b5;


  /*z-index: -3;*/
  position: absolute;
  overflow: hidden;

  li{
    padding: 10px 8px;
    margin: 0.3em -0px;
    border-radius: 4px;
    cursor: pointer;


    &:hover{
      background-color: rgba(53, 151, 64, 0.08);
    }
  }
}

.active{
  background-color: rgba(53, 151, 64, 0.2)
}

/*
.menuOpen{
  opacity: 1;
  z-index: 3;
}
*/

